body {
	margin: 0px;
}

.them {
  left: 0px;
  top: 0px;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	display: none;
}

.me {
	bottom: 0px;
	right: 0px;
	max-width: 40%;
	max-height: 40%;
	position: fixed;
	display: none;
}

.video-container {
	height: 100%;
	width: 100%;
}

#controls {
	position: fixed;
	bottom: 0;
	z-index: 2;
  background-color: white;
}

.high_res {
	max-width: 100%;
	max-height: 70%;
	display: block;
}

#cursor {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
