body {
  margin: 0px;
}

.them {
  top: 0px;

  max-height: 100%;
  position: fixed;
  display: none;
  overflow:hidden;
  height: 100%;
  /*left: -25%;*/
}

.me {
  bottom: 0px;
  right: 0px;
  max-width: 30%;
  min-width: 10%;
  position: fixed;
  display: none;
  overflow:hidden;
}

.video-container {
  height: 100%;
  width: 100%;
}

#controls {
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: white;
}

.high_res {
  max-width: 100%;
  max-height: 70%;
  display: block;
}

#cursor {
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

input#icon {
  display: none;
}

canvas {
  z-index: 2;
  opacity: 0.3;
}

#me {
  z-index: 4;
}

.thumbnail{
    top: 10%;
    right: 0px;
    width: 50px;
    max-height: 60%;
    position: fixed;
    overflow:hidden;
    z-index:4;
}

.icon {
    z-index: 7;
    display:none;
    width:20px;
    height:20px;
    position: fixed;
    border-color: transparent;
    border-radius: 50%;
    background-image: url('image/Circle_Blue.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.picker {
    z-index: 7;
    display:none;
    position: fixed;
    width:20px;
    height:20px;
}

.cursorArrow {
    z-index: 6;
    position: absolute;
}
